// Бем блоки...

.social {
  display: flex;
  align-items: center;
  gap: rem(15);

  @media (max-width:$mobile) {
    gap: rem(10);
  }

  &__link {
    font-size: rem(24);
    color: rgb(34, 101, 206);
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #68D9FE;
      }
    }
  }
}

._pc-hidden {
  @media (max-width:$pc) {
    display: none !important;
  }
}

._tablet-hidden {
  @media (max-width:$tablet) {
    display: none !important;
  }
}

._mobile-hidden {
  @media (max-width:$mobile) {
    display: none !important;
  }
}

._mobile-small-hidden {
  @media (max-width:$mobileSmall) {
    display: none !important;
  }
}

._pc-min-hidden {
  @media (min-width:$pc) {
    display: none !important;
  }
}

._tablet-min-hidden {
  @media (min-width:$tablet) {
    display: none !important;
  }
}

._mobile-min-hidden {
  @media (min-width:$mobile) {
    display: none !important;
  }
}

._mobile-small-min-hidden {
  @media (min-width:$mobileSmall) {
    display: none !important;
  }
}

.section-header {
  text-align: center;
  max-width: rem(700);
  margin-right: auto;
  margin-left: auto;

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 36, 24);
    font-weight: 700;
    line-height: math.div(40, 36);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__description {
    color: #fff;
    opacity: 0.5;
    @include adaptiveValue("font-size", 22, 16);
  }
}