//<QUANTITY>
// Снипет (HTML): qa
.quantity {
  // width: 88px;
  // height: 40px;

  &__actions {
    // border: 1px solid rgba(166, 166, 166, 0.45);
    display: flex;
    column-gap: rem(12);
  }

  // .quantity__button
  &__button {
    border: 2px solid #081545;
    border-radius: 16px;
    flex: 0 0 rem(56);
    height: rem(56);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: rem(20);
    position: relative;
    cursor: pointer;

    @media (max-width:$pc) {
      flex: 0 0 rem(46);
      height: rem(46);
    }

    @media (any-hover: hover) {
      &:hover {}
    }

    // .quantity__button_plus
    &_plus {}

    // .quantity__button_minus
    &_minus {}
  }

  // .quantity__input
  &__input {
    // overflow: hidden;
    flex: 1 1 auto;
    position: relative;

    input {
      font-family: "Montserrat";
      font-weight: 600;
      border-radius: 16px;
      border: 2px solid #081545;
      color: #081545;
      font-size: rem(20);
      line-height: math.div(26, 20);
      height: 100%;
      width: 100%;
      text-align: center;
    }
  }

  &__message {
    color: red;
    font-size: rem(13);
    margin-top: rem(8);
    white-space: nowrap;
    text-align: center;
  }

  &__label {
    color: rgba(11, 41, 79, .5);
    font-size: rem(12);
    line-height: math.div(15, 12);
    margin-bottom: rem(5);
    text-align: center;
    width: 100%;
    display: inline-block;
  }
}